<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GAMES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body style="background-color: #9C835F;
;">
    <div class="container-fluid">
        <div class="wrapper-menu d-flex">
            <p class="btn-back">&#60;</p>
            <img src="static/assets/logo1.png" alt="Logo" width="30" height="30" class="img-logo">
            <h1 class="judul" style="color:#F9B23D;
            ;">ROCK PAPER SCISSORS</h1>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="player1-wrapper">
                    <p class="player">PLAYER 1</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="img-wrapper-pilihan">
                        <img src="static/assets/batu1.png" alt="gambar-batu" class="img-batu img-suit" id="batu">
                    </div>

                    <div class="img-wrapper-pilihan">
                        <img src="static/assets/kertas1.png" alt="gambar-kertas" class="img-kertas img-suit"
                            id="kertas">
                    </div>

                    <div class="img-wrapper-pilihan">
                        <img src="static/assets/gunting1.png" alt="gambar-gunting" class="img-gunting img-suit"
                            id="gunting">
                    </div>
                </div>
            </div>

            <div class="col-4 align-self-center">
                <div class="card-text-content">
                    <p class="card-text versus score">VS</p>
                    <p class="card-text winner score"></p>
                </div>
            </div>

            <div class="col-4">
                <div class="">
                    <p class="player">COMP</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="img-wrapper-pilihan">
                        <img src="static/assets/batu1.png" alt="gambar-batu"
                            class="img-batu img-batu-comp  img-suit-comp" id="batu">
                    </div>

                    <div class="img-wrapper-pilihan">
                        <img src="static/assets/kertas1.png" alt="gambar-kertas"
                            class="img-kertas img-kertas-comp img-suit-comp" id="kertas">
                    </div>

                    <div class="img-wrapper-pilihan">
                        <img src="static/assets/gunting1.png" alt="gambar-gunting"
                            class="img-gunting img-gunting-comp  img-suit-comp" id="gunting">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1">
                <img src="static/assets/refresh2.png" alt="refresh" class="refresh">
            </div>
        </div>
    </div>
    .

    <script src="static/javascript/suitjepang.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
    </script>
</body>

</html>