<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/style.css">

</head>

<body>


    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-opacity">
        <div class="container">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-home mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">WORK</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active">CONTACT</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">SIGN UP</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">LOGIN</a>
                    </li>

                </ul>

            </div>
        </div>

    </nav>
    <!-- end navbar -->

    <!-- start jumbotron -->
    <div class="home-container">
        <div class="container d-flex justify-content-center content-wrapper">
            <div class="home-text-wrapper">
                <p class="title-home">
                    Play traditional game
                </p>
                <p class="subtitle-home">
                    Experience new traditional game play
                </p>

                <div class="button-wrapper d-flex justify-content-center">
                    <button type="button" class="btn btn-warning btn-cta">Play Now</button>

                </div>

            </div>

        </div>
        <div class="text-story">
            <p class="text-end">
                THE STORY
            </p>
            <img src="static/assets2/scroll down.svg" alt="icon-scroll">
        </div>
    </div>
    <!-- end jumbotron -->



    <!-- start-page-the-game -->
    <div class="games-container d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-wrapper2">
                        <p class="title2">What’s so special?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="text-wrapper2">
                        <p class="title3">THE GAMES</p>
                    </div>
                </div>
                <div class="col-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="static/assets2/rockpaperstrategy-16001.png" class="d-block w-100"
                                    alt="slide1">
                            </div>
                            <div class="carousel-item">
                                <img src="static/assets2/rockpaperstrategy-16001.png" class="d-block w-100"
                                    alt="slide2">
                            </div>
                            <div class="carousel-item">
                                <img src="static/assets2/rockpaperstrategy-16001.png" class="d-block w-100"
                                    alt="slide3">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end-page-the-game -->

    <!-- start page ketiga -->
    <div class="features-container d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-6">
                    <div class="text-wrapper2">
                        <p class="title2">What’s so special?</p>
                        <p class="title3">FEATURES</p>
                    </div>
                    <div class="">
                        <!-- Section: Timeline -->
                        <section class="py-5">
                            <ul class="timeline">
                                <li class="timeline-item mb-5">
                                    <h5 class="fw-bold">TRADTIONAL GAMES</h5>
                                    <p class="text-muted">
                                        If you miss your childhood, we provide many traditional games here
                                    </p>
                                </li>

                                <li class="timeline-item mb-5">
                                    <h5 class="fw-bold">GAME SUIT</h5>
                                </li>

                                <li class="timeline-item mb-5">
                                    <h5 class="fw-bold">TBD</h5>
                                </li>


                            </ul>
                        </section>
                        <!-- Section: Timeline -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page ketiga -->




    <!-- start page keempat -->

    <div class="system-requirements">
        <div class="text-top">
            <div class="row justify-content-center">
                <div class="col-3">
                    <p class="Tittle4">Can My Computer Run this game? </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="text-wrapper3 content-wrapper">
                        <p class="Tittle5">SISTEM REQUIREMENTS</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">

                    <!-- section tabel page lima -->
                    <table class="table table-bordered" style="border-color: rgba(151, 151, 151, .5);">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="">
                                        <p class="title-tabel">OS :</p>
                                        <p class="tabel-content">Windows 7 64-bit only
                                            (No OSX support at this time)</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="">
                                        <p class="title-tabel">PROCESSOR :</p>
                                        <p class="tabel-content">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="">
                                        <p class="title-tabel">MEMORY :</p>
                                        <p class="tabel-content">4 GB RAM</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="">
                                        <p class="title-tabel">STORAGE :</p>
                                        <p class="tabel-content">8 GB available space</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="">
                                        <p class="title-tabel">GRAPHICS :</p>
                                        <p class="tabel-content">NVIDIA GeForce GTX 660 2GB or
                                            AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- end page keempat -->


    <!-- start page kelima top scores-->
    <div class="top-scores d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="text-wrapper8">
                        <p class="title-top">TOP SCORES</p>
                        <p class="title6" style="color: white;">This top score from various games provided on this
                            platform</p>
                        <div class="button-wrapper">
                            <button type="button" class="btn btn-warning btn-cta btn-cta2">see more</button>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="card-wrapper">
                        <div class="card card-content mb-4">
                            <div class="card-body">
                                <div class="avatar-container d-flex align-items-center w-100">
                                    <div class="avatar-wrapper me-3">
                                        <img class="avatar-image" src="static/assets2/image-8.jpg" alt="image1">
                                    </div>
                                    <div class="avatar-text-wrapper">

                                        <div class="text-icon-wrapper d-flex justify-content-between">
                                            <div class="icon-twitter">
                                                <h5 class="card-title">Evan Lahti</h5>
                                                <p class="card-text">PC Gamer</p>
                                            </div>
                                            <img style="height:14px ; width:18px;" src="static/assets2/twitter.svg"
                                                alt="icon">
                                        </div>

                                    </div>
                                </div>
                                <p class="card-text-content" style="color: white;">“One of my gaming highlights of the
                                    year.”</p>
                                <p class="date">June 18, 2021</p>
                            </div>

                        </div>

                        <div class="card card-content mb-4">
                            <div class="card-body">
                                <div class="avatar-container d-flex align-items-center w-100">
                                    <div class="avatar-wrapper me-3">
                                        <img class="avatar-image" src="static/assets2/image.jpg" alt="image1">
                                    </div>
                                    <div class="avatar-text-wrapper">

                                        <div class="text-icon-wrapper d-flex justify-content-between">
                                            <div class="icon-twitter">
                                                <h5 class="card-title">Jada Griffin </h5>
                                                <p class="card-text">Nerdreactor</p>
                                            </div>
                                            <img style="height:14px ; width:18px;" src="static/assets2/twitter.svg"
                                                alt="icon">
                                        </div>

                                    </div>
                                </div>
                                <p class="card-text-content" style="color: white;">“The next big thing in the world of
                                    streaming and
                                    survival games.”</p>
                                <p class="date">July 10, 2021</p>
                            </div>
                        </div>

                        <div class="card card-content mb-4">
                            <div class="card-body">
                                <div class="avatar-container d-flex align-items-center">
                                    <div class="avatar-wrapper me-3">
                                        <img class="avatar-image" src="static/assets2/image 1).jpg" alt="image1">
                                    </div>
                                    <div class="avatar-text-wrapper">

                                        <div class="text-icon-wrapper d-flex justify-content-between">
                                            <div class="icon-twitter">
                                                <h5 class="card-title">Aaron Williams </h5>
                                                <p class="card-text">Uproxx</p>
                                            </div>
                                            <img style="height:14px ; width:18px;" src="static/assets2/twitter.svg"
                                                alt="icon">
                                        </div>

                                    </div>
                                </div>

                                <p class="card-text-content" style="color: white;">“Snoop Dogg Playing The Wildly
                                    Entertaining ‘SOS’ Is
                                    Ridiculous.”</p>
                                <p class="date">June 18, 2021</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end section tabel page lima -->
    <!-- end page kelima top scores-->


    <!-- start page akhir -->
    <div class="newsletter-container d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="col-6">
                    <div class="image-wrapper">
                        <img src="static/assets2/Group-3.png" alt="image6">
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-wrapper2">
                        <p class="title2" style="max-width:261px ;">Want to stay in touch?</p>
                        <p class="title3">NEWSLETTER SUBSCRIBE </p>
                        <p class="title4 text-white">In order to start receiving our news, all you have to do is enter
                            your email
                            address.
                            Everything else will be taken care of by us. We will send you emails containing information
                            about game. We
                            don’t spam.</p>
                    </div>
                    <div class="form-wrapper d-flex ">
                        <div class="input-wrapper border">
                            <p class="input-label m-0">Your email address</p>
                            <input type="email" class="form-control input-email border-0 p-0"
                                id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="button-wrapper ms-3">
                            <button type="button" class="btn btn-warning btn-cta2 btn-subs">Subscribe now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
    <div class="footer-container ">
        <div class="container border-bottom py-4">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="link-wrapper d-flex">
                            <p class="footer-link text-uppercase">main</p>
                            <p class="footer-link text-uppercase">about</p>
                            <p class="footer-link text-uppercase">game features</p>
                            <p class="footer-link text-uppercase">system requirements</p>
                            <p class="footer-link text-uppercase">quotes</p>
                        </div>
                        <div class="icon-link-wrapper ">
                            <img class="icon-link" src="static/assets2/facebook.svg" alt="png">
                            <img class="icon-link" src="static/assets2/twitter.svg" alt="png">
                            <img class="icon-link" src="static/assets2/Vector.svg" alt="png">
                            <img class="icon-link" src="static/assets2/twitch.svg" alt="png">

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="copyright-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <p class="copyright-text text-white"> © 2018 Your Games, Inc. All Rights Reserved</p>
                        <p class="copyright-text-right text-white"> Privacy Policy | Terms of Services | Code of Conduct
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- end footer -->


    </ul>
    </section>

    <!-- end page akhir -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
    </script>
</body>

</html>