* {
    font-family: 'Poppins', sans-serif;
}

.login {
    height: 100vh;
}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #737373;

    margin-bottom: 20px;
}

.login-form label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

    margin-top: 20px;
}

.login-form input {
    box-sizing: border-box;


    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
}

.login-form a {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin: 20px 0;
    display: block;
}

.login-form .sign-in {

    width: 100%;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    color: #FFFFFF
}


.login-right img {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
    background-size: cover;
}