body {
    overflow-x: hidden;
}

/* navbar */
#navbar-opacity {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 14px 0;
    position: absolute;
    width: 100%;
    z-index: 22;
    /* position: relative;
    top: -80px; */
}

.navbar-brand {
    font-size: 24px;
}

.nav-item .nav-link {
    font-size: 12px;
}

#navbarSupportedContent {
    margin-left: 144px !important;

}

/* jumbotron */
.home-container {
    height: 960px;
    background-image: url(../assets2/main-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.home-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffffff00, #b9b9b900, #77777700, #3b3b3b00, #0A0A0A);

}

.content-wrapper {
    position: relative;
    z-index: 10;
}

.home-container .title-home {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 57px;
}

.home-container .subtitle-home {


    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;

    color: #FFFFFF;


}

.btn-cta {
    border-radius: 4px;
    padding: 14px 57px;
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
}

.text-story {
    position: absolute;
    z-index: 10;
    text-align: center;
    bottom: 50px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */


    text-transform: uppercase;

    color: #FFFFFF;
}

.text-end {
    margin-bottom: 2px;
}

/* section game */
.games-container {
    height: 100vh;
    background-image: url(../assets2/bg-image-2.jpg);


}


.title2 {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;


}

.title3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;

}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}

.carousel-control-prev-icon {
    background-image: url(../assets2/switch.svg);
    rotate: 180deg;
}

.carousel-control-next-icon {
    background-image: url(../assets2/switch.svg);
}

/* features-section */
.features-container {
    background-image: url(../assets2/Group.jpg);
    height: 100vh;
    background-size: cover;
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.fw-bold {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFB548;

}

.timeline-item .text-muted {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;
    max-width: 362.52px;

    color: #FFFFFF !important;

}

/* sistem-requirements */
.system-requirements {
    background-image: url(../assets2/Group-2.jpg);
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 170px;
}

.text-top {
    color: #FFFFFF;
    padding-top: 145px;
    padding-bottom: 55px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.content-wrapper {
    position: relative;
    z-index: 10;
}

.Tittle5 {
    margin-top: 54px;
    margin-bottom: 40PX;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.title-tabel {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFB548;

}

.tabel-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */


    color: #FFFFFF;
}


/* top-scores */
.top-scores {
    background-image: url(../assets2/bgimage-3.jpg);
    min-height: 100vh;
    background-size: cover;
    padding: 100px 0;

}

.title-top {
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

}


.title6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.btn-cta2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: lowercase;
}

.card-content {
    background-color: rgba(255, 255, 255, 0.08);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    width: 452.59px;

    letter-spacing: 2px;
}

.card-title {
    color: rgba(255, 181, 72, 1);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;
}

.card-text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: -8px;
}

.card-text-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

}

.date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.5);

}

.avatar-container {
    margin-bottom: 26px;
}

.avatar-wrapper {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    overflow: hidden;
    /* margin-bottom: 26px; */
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

    z-index: 9;
}

.avatar-wrapper::after {
    content: "";
    width: 63px;
    height: 63px;
    position: absolute;
    background-color: #FFB548;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}

.avatar-text-wrapper {
    width: 100%;
    flex: 1;
}

.card:nth-child(odd) {
    margin-left: 100px;
}

.newsletter-container {
    background-image: url(../assets2/Rectangle-4.3.png);
    min-height: 100vh;
    background-size: cover;

}

.input-wrapper {
    width: 366.92px;
    height: 60px;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.input-email {
    background: transparent;
    color: #FFB548;
}

.input-email:focus {
    background: transparent;
    box-shadow: none !important;
    color: #FFB548;
}

.input-label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}

.btn-subs {
    height: 58px !important;
    width: 200px;
}

.footer-container {
    background-color: #080A0B;
}

.footer-link {
    margin-left: 35px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}

.icon-link {
    margin-left: 60px;
}

.copyright-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 22px;
}

.copyright-text-right {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 22px;

}

.copyright-container {
    background-color: #080A0B;
}